@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.defFont{
    font-family: Montserrat;
}

.cardForm {
    background-color: #f5f7fa;
}

.welcomeTitle {
    color: black;
    font-weight: 900;
    text-align: center;
}

.subTitle {
    color: black;
    font-weight: 900;
    text-align: center;
}

.jobTitle {
    font-weight: 900;
}

.optionBtn {
    text-transform: lowercase;
}

.proceedBtn {
    text-transform: uppercase;
}

.btnSelected {
    background-color: #09ed74;
    border: 1px solid black;
}

.btnSelected:hover {
    background-color: #00c75d;
}

.optionBtn:first-letter {
    text-transform: uppercase;
}

.submitButton {
    float: right;
    /*font-size: 1.7vw;*/
    background-color: #2d91fc;
    color: white;
}

.submitButton:hover {
    background-color: #2078d6;

}

.btn {
    background-color: #2d91fc;
    color: white;
}

.btn:hover {
    background-color: #2078d6;
}

.btn:disabled {
    background-color: lightgray;
}

.checkBox {
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
}

.underline {
    border: 0.2px solid lightgray;
    margin: 20px auto;
    width: 95%;
}